.lightThemeTitle {
  display: block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
}

.darkThemeTitle {
  display: block;
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}

.lightTextField {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: inherit;
  background-color: rgba(128, 128, 128, 0.187);
  font-size: 20px;
  font-weight: 200;
  background-color: inherit;
  border-radius: 5px;
  border: 2px solid #007188;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%);
}

.darkTextField {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-family: inherit;
  background-color: rgba(128, 128, 128, 0.187);
  font-size: 20px;
  font-weight: 200;
  background-color: inherit;
  border-radius: 5px;
  border: 2px solid #007188;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%);
  color: #fff;
}

.lightTextField:focus,
.darkTextField:focus {
  outline: 1px solid #007188;
}

@media screen and (min-width: 768px) {
  .lightTextField,
  .darkTextField {
    width: 95%;
  }
}

.lightTextField ::placeholder {
  color: rgba(0, 0, 0, 0.37);
}

.darkTextField::placeholder {
  color: rgba(255, 255, 255, 0.358);
}
