.contactList {
  padding: 0 5px 0  0;
  margin-bottom: 10px;
  width: 100%;
  max-height: 225px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  border-radius: 5px;
  background-color:#fff;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 5px;
  border: 1px solid #fff;
}

@media screen and (min-width: 768px) {
  .contactList {
    width: 95%;
  }
  .contactListItem {
    width: 100%;
  }
}

.contactListItem {
  padding: 15px;
  box-sizing: border-box;
  list-style: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
}

.deleteBtn {
  width: 120px;
  height: 49px;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  background-color: #007188;
  border-radius: 5px;
  border: inherit;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%);
  margin: auto 10px auto;
}

.lightContactTitle {
  margin: 0;
}

.darkContactTitle {
  margin: 0;
  color: #fff;
}
